<!--
<p>{{title}}</p>
<app-greeting></app-greeting>
<app-product-list></app-product-list>
<app-switch-test></app-switch-test>

<app-pipe-text></app-pipe-text>
<app-datepicker-text></app-datepicker-text>
<app-timepicker-test></app-timepicker-test>
<app-rating-test></app-rating-test>-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/greet">Greeting</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/product">Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/rating">Rating</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/pipetest">PipeTest</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/switch">Switch</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/caraousle">Carausle</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/productform">ProductForm</a></li>
 
    </ul>
</nav>
<h1>Welcome to Angular App</h1>
<router-outlet></router-outlet>

<app-footer></app-footer>